
<%= render @entry %>

<div>
  <%= link_to "Edit this Vehicle", edit_entry_path(@entry) %> |
  <%= link_to "Back to Vehicles", entries_path %>

  <%= button_to "Destroy this Vehicle", @entry, method: :delete %>
</div>
